<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDo App - Manage Tasks</title>
    <link rel="stylesheet" href="css/home.css">
  </head>
  <body>
    <div class="container">
      <h1>My ToDo List</h1>
      <div class="userHeader">
        <h4>Hi, <%= user.username %></h4>
        <a href="/logout">
          <button class="logout">LogOut</button>
        </a>
      </div>

      <form action="" method="post">
        <div class="form-group">
          <input
            type="text"
            id="new-task"
            placeholder="Add a new task"
            name="task"
          />
          <button>Add</button>
        </div>
      </form>
      <table id="tasks">
        <thead>
          <tr>
            <th>Task</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% for (let index = 0; index < tasks.length; index++) { %>
            <tr>
              <td><%= tasks[index].title %></td>
              <td>
                <% if (tasks[index].complete === 'true') { %>
                  <span style="color: green">Completed</span>
                <% } else { %>
                  <span style="color: red">Pending</span>
                <% } %>
              </td>
              <td>
                <a href="/complete_task/<%= tasks[index].id %>">
                  <button class="task-actions completed_btn">
                    <% if (tasks[index].complete === 'false') { %> inProgress <% } else { %> Done <% } %>
                  </button>
                </a>
                <a href="/delete_task/<%= tasks[index].id %>">
                  <button
                    class="task-actions delete-btn"
                  >
                    Delete
                  </button>
                </a>
              </td>
            </tr>
          <% } %>
          
        </tbody>
      </table>
    </div>
    <script src="js/scripts.js"></script>
  </body>
</html>
